---
import type { GetStaticPaths } from "astro";
import BlogLayout from "@layout/BlogLayout.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post: post },
    }));

    // return [
    //     {
    //         params: { slug: "post-01" },
    //         props: { title: "Mi primer post" },
    //     },
    // ];
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await post.render();
---

<BlogLayout title={post.data.title}>
    <h4 class="text-md text-gray-400 mb-0 float-end">{frontmatter.author}</h4>

    <h3 class="mt-3 text-xs text-orange-500">Tabla de contenido</h3>

    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a
                        href={`#${heading.slug}`}
                        class="text-sm text-gray-500 dark:text-gray-300"
                    >
                        {heading.text}
                    </a>
                </li>
            ))
        }
    </ol>

    <Content />

    <div class="my-8">
        <a
            href="#btn-regresar"
            class="text-sm text-gray-500 dark:text-gray-300"
        >
            ⬆️ ir arriba
        </a>
    </div>
</BlogLayout>
