---
import MainLayout from "@layout/MainLayout.astro";
import TypeBlogPost from "@components/TypeBlogPost.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<MainLayout title="STBN || BLOG">
	<section class="bg-gray-900">
		<div class="container px-6 py-10 mx-auto">
			<div class="text-center">
				<h1
					class="text-2xl font-semibold capitalize lg:text-3xl text-white"
				>
					Desde el Blog
				</h1>

				<p class="max-w-lg mx-auto mt-4 text-gray-400">
					Explora nuestro blog para descubrir las últimas noticias,
					tutoriales y artículos sobre una amplia gama de temas.
				</p>
			</div>

			<div
				class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2 xl:grid-cols-3"
			>
				{posts.map((post) => <TypeBlogPost post={post} />)}
			</div>
		</div>
	</section>
</MainLayout>
