---
import { ViewTransitions } from "astro:transitions";
import HeaderLayout from "./HeaderLayout.astro";
import "../styles/blog.css";
import "../styles/global.css";

const { title } = Astro.props;
// const frontmatter = rest.frontmatter || {};
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>

        <ViewTransitions />
    </head>

    <body class="bg-slate-900 min-h-screen text-white">
        <!-- <HeaderLayout /> -->
        <aside class="px-6 mt-3">
            <a
                id="btn-regresar"
                href="/"
                class="text-xs decoration-1 underline underline-offset-3 text-gray-300 hover:text-white"
                >Regresar</a
            >
        </aside>

        <main class="container mx-auto px-4 py-8">
            <slot />
        </main>
    </body>
</html>
